<title>My application deployed automatically</title>
  <body style="background-color:powderblue;">
  <h1 style="text-align: center;</h1>
<p style="text-align: center;"><p1>Welcome the user!</p1></p>
<p style="text-align: center;">1.karenin icine bir sayı arrayiriniz</p>
<p style="text-align: center;">2.karenin icine;ine bir sayı giriniz</p>
<p style="text-align: center;">3.karenin icine yapmak istediğiniz işlemi giriniz(/ * + -)</p>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="20"></textarea>
        <textarea name="input2" rows="10" cols="20"></textarea>
        <textarea name="input3" rows="10" cols="20"></textarea>
        <br>
        <input type="submit">
  </form>
